<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Enter 15 products</h1>
    <form action="/products" method="post">
        <div><label>Product 1 name: <input type="text" name="name0" placeholder="product name"></label> <label> price: <input type="number" step="0.01" min="0" name="price0" placeholder="0.00"></label></div>
        <div><label>Product 2 name: <input type="text" name="name1" placeholder="product name"></label> <label> price: <input type="number" step="0.01" min="0" name="price1" placeholder="0.00"></label></div>
        <div><label>Product 3 name: <input type="text" name="name2" placeholder="product name"></label> <label> price: <input type="number" step="0.01" min="0" name="price2" placeholder="0.00"></label></div>
        <div><label>Product 4 name: <input type="text" name="name3" placeholder="product name"></label> <label> price: <input type="number" step="0.01" min="0" name="price3" placeholder="0.00"></label></div>
        <div><label>Product 5 name: <input type="text" name="name4" placeholder="product name"></label> <label> price: <input type="number" step="0.01" min="0" name="price4" placeholder="0.00"></label></div>
        <div><label>Product 6 name: <input type="text" name="name5" placeholder="product name"></label> <label> price: <input type="number" step="0.01" min="0" name="price5" placeholder="0.00"></label></div>
        <div><label>Product 7 name: <input type="text" name="name6" placeholder="product name"></label> <label> price: <input type="number" step="0.01" min="0" name="price6" placeholder="0.00"></label></div>
        <div><label>Product 8 name: <input type="text" name="name7" placeholder="product name"></label> <label> price: <input type="number" step="0.01" min="0" name="price7" placeholder="0.00"></label></div>
        <div><label>Product 9 name: <input type="text" name="name8" placeholder="product name"></label> <label> price: <input type="number" step="0.01" min="0" name="price8" placeholder="0.00"></label></div>
        <div><label>Product 10 name: <input type="text" name="name9" placeholder="product name"></label> <label> price: <input type="number" step="0.01" min="0" name="price9" placeholder="0.00"></label></div>
        <div><label>Product 11 name: <input type="text" name="name10" placeholder="product name"></label> <label> price: <input type="number" step="0.01" min="0" name="price10" placeholder="0.00"></label></div>
        <div><label>Product 12 name: <input type="text" name="name11" placeholder="product name"></label> <label> price: <input type="number" step="0.01" min="0" name="price11" placeholder="0.00"></label></div>
        <div><label>Product 13 name: <input type="text" name="name12" placeholder="product name"></label> <label> price: <input type="number" step="0.01" min="0" name="price12" placeholder="0.00"></label></div>
        <div><label>Product 14 name: <input type="text" name="name13" placeholder="product name"></label> <label> price: <input type="number" step="0.01" min="0" name="price13" placeholder="0.00"></label></div>
        <div><label>Product 15 name: <input type="text" name="name14" placeholder="product name"></label> <label> price: <input type="number" step="0.01" min="0" name="price14" placeholder="0.00"></label></div>
        <button type="submit">Submit 15 products</button>
    </form>
</body>
</html>